.alinear{
	display: inline-block;
	text-align: justify;
	color:#000;
}
.logo{
	padding:7px 0px 0px 10px;
}

#navSettings{
	background-color:rgb(23, 103, 129);
}

.iconShit{
 align-content: center;
}

.section{
	margin-top: 50px;
}
